
/*XX-Large devices (larger desktops, 1400px and up)*/

@media (min-width: 1400px) { 
	

	 }


/* Xtar Large Device: 1200px. */
@media (min-width: 1200px) and (max-width: 1500px){
	.hero_bg {background-size: 45%;}
	.client_testimonial {background-size: 110%;}
	
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.hero_bg {background-size: 0%;}
	.service_types {grid-template-columns: repeat(3, 1fr);	gap: 30px;}
	.client_testimonial {background-size: 110%;}
	.single_agent_info {width: 48.333%;}
	

}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
	.service_types {grid-template-columns: repeat(2, 1fr);gap: 30px;}
	.client_testimonial {background-size: 130%;}
	.hero_bg {background-size: 0%;}
	.main_menu ul {display: none;}
	.single-options {width: 100%;}
	.order-desc.total {	position: relative;	bottom: 0px;width: 100%;}
	.section-head {	margin-top: 20px;}
	.single_agent_info {width: 48.333%;}
	.expanded_menu{display: block;}

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.client_testimonial {background-size: 0%;}
	.client_testimonial {padding: 100px 0 100px 0;}
	.hero_content h2, .single_micro_service h3 {font-size: 40px;}
	.client_testimonial_area .owl-nav button{display: none;}
	.client_info {flex-direction: column;}
	.main_menu ul {display: none;}
	.hero_bg {background-size: 0%;}
	.mobile_menus {	right: 0;}
	.pricing-selector {justify-content: center;}
	.single_agent_info {width: 100%;}
	
	
	
	
 
}
/* extra small device*/
@media only screen and (min-width: 320px) and (max-width: 574px){
	.service_types {grid-template-columns: repeat(1, 1fr); gap: 30px;}
	.service_box {width: 70%;}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}